# Node.js
node_modules/
npm-debug.log
yarn-error.log

# Build directories
build/
dist/

# macOS specific files
.DS_Store

# Visual Studio Code settings
.vscode/

# Environment variables
*.env

# Logs
*.log
